{{ if eq .chezmoi.hostname "desk" }}
* {
    font: "Iosvmata 28";
}
window {
    width: 600;
}

{{ else if eq .chezmoi.hostname "s145" }}
* {
    font: "Iosvmata 16";
}
window {
    width: 380;
}

{{ else if eq .chezmoi.hostname "t440p" }}
* {
    font: "Iosvmata 16";
}
window {
    width: 380;
}

{{ end }}
