[Desktop Entry]
Name=ong-browser
Exec=/opt/firefox-developer/firefox -P ong %u
Icon=/opt/firefox-developer/browser/chrome/icons/default/default128.png
Terminal=false
Type=Application
Categories=Network;WebBrowser;Development;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/atom+xml;image/webp;x-scheme-handler/http;x-scheme-handler/https;
Keywords=Developer;Browser;Web;Debug;
StartupWMClass=Firefox Developer Edition
